In [1]:
'''
Download
[1] IMDb Movie Dataset: All Movies by Genre
from
https://www.kaggle.com/datasets/rajugc/imdb-movies-dataset-based-on-genre
and
[2] Ultimate Film Statistics Dataset with Production Budget and Domestic (US) and Worldwide Gross
from
https://www.kaggle.com/datasets/alessandrolobello/the-ultimate-film-statistics-dataset-for-ml
'''

'\nDownload\nIMDb Movie Dataset: All Movies by Genre\nfrom\nhttps://www.kaggle.com/datasets/rajugc/imdb-movies-dataset-based-on-genre\nand\nUltimate Film Statistics Dataset with Production Budget and Domestic (US) and Worldwide Gross\nfrom\nhttps://www.kaggle.com/datasets/alessandrolobello/the-ultimate-film-statistics-dataset-for-ml\n'

In [2]:
# first df: IMDb Movie Dataset

# joining all 16 seperate datasets into 1

import pandas as pd

# file location
directory = 'data/IMDb Movie Dataset/' 

# list of CSV files
csv_files = [
    'action.csv', 'adventure.csv', 'animation.csv', 'biography.csv', 'crime.csv',
    'family.csv', 'fantasy.csv', 'film-noir.csv', 'history.csv', 'horror.csv',
    'mystery.csv', 'romance.csv', 'scifi.csv', 'sports.csv', 'thriller.csv', 'war.csv'
]

# empty list to store dfs
dataframes = []

# loop through the list of files and read each one
for file in csv_files:
    file_path = directory + file
    df = pd.read_csv(file_path)
    dataframes.append(df)

# concatenate all dfs into 1
combined_df = pd.concat(dataframes, ignore_index=True)

In [3]:
combined_df.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [4]:
combined_df.shape

(368300, 14)

In [5]:
# drop unnecessary columns

# list of columns to drop
columns_to_drop = ['director_id', 'star', 'star_id', 'votes', 'runtime', 'rating', 'description', 'gross(in $)']

# drop the columns
df = combined_df.drop(columns=columns_to_drop)

In [6]:
# rename columns
df = df.rename(columns={'movie_id': 'imdbid', 'movie_name': 'title', 'certificate': 'age_rating'})

In [7]:
df.head()

,imdbid,title,year,age_rating,genre,director
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,"Action, Adventure, Drama",Ryan Coogler
1,tt1630029,Avatar: The Way of Water,2022,PG-13,"Action, Adventure, Fantasy",James Cameron
2,tt5884796,Plane,2023,R,"Action, Thriller",Jean-François Richet
3,tt6710474,Everything Everywhere All at Once,2022,R,"Action, Adventure, Comedy","Dan Kwan, \nDaniel Scheinert"
4,tt5433140,Fast X,2023,NaN,"Action, Crime, Mystery",Louis Leterrier

In [8]:
df.columns

Index(['imdbid', 'title', 'year', 'age_rating', 'genre', 'director'], dtype='object')

In [9]:
# check for spaces at beginning or end of 'imdbid'
starts_with_space = df['imdbid'].str.startswith(' ')
ends_with_space = df['imdbid'].str.endswith(' ')

# combine both conditions
has_leading_or_trailing_space = starts_with_space | ends_with_space

# print rows with leading or trailing spaces
print("Rows with leading or trailing spaces in 'imdbid':")
print(df[has_leading_or_trailing_space])

Rows with leading or trailing spaces in 'imdbid':
Empty DataFrame
Columns: [imdbid, title, year, age_rating, genre, director]
Index: []

In [10]:
# remove 'tt' in imdbid
df['imdbid'] = df['imdbid'].str.replace('tt', '', regex=False)

# replace non-numeric values with NaN
df['imdbid'] = pd.to_numeric(df['imdbid'], errors='coerce')

# convert to integer
df['imdbid'] = df['imdbid'].astype('int64')

In [11]:
# count number of NaN in imdbid
print(df.imdbid.isna().sum())

0

In [12]:
# count number of duplicates in imdbid
print(df['imdbid'].duplicated().sum())

125103

In [13]:
# drop duplicates in imdbid, keep only the first occurrence
df = df.drop_duplicates(subset=['imdbid'], keep='first')

In [14]:
df.shape

(243197, 6)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243197 entries, 0 to 368299
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   imdbid      243197 non-null  int64
 1   title       243195 non-null  object
 2   year        204290 non-null  object
 3   age_rating  55170 non-null   object
 4   genre       243197 non-null  object
 5   director    222358 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.0+ MB

In [16]:
# second df: Ultimate_Film_Statistics_Dataset

df_uf = pd.read_csv('data/Ultimate_Film_Statistics_Dataset.csv')

# drop unnecessary columns

# list of columns to drop
columns_to_drop = ['production_date', 'genres', 'director_name', 'director_professions', 'director_birthYear', 'director_deathYear', 'movie_averageRating', 'movie_numerOfVotes', 'approval_Index']

# drop columns
df_uf = df_uf.drop(columns=columns_to_drop)

# rename columns
df_uf = df_uf.rename(columns={'movie_title': 'title', 'Production budget $': 'production_budget', 'Domestic gross $': 'domestic_gross', 'Worldwide gross $': 'worldwide_gross'})

In [17]:
df_uf.head()

,title,runtime_minutes,production_budget,domestic_gross,worldwide_gross
0,Avatar: The Way of Water,192.0,460000000,667830256,2265935552
1,Avengers: Endgame,181.0,400000000,858373000,2794731755
2,Pirates of the Caribbean: On Stranger Tides,137.0,379000000,241071802,1045713802
3,Avengers: Age of Ultron,141.0,365000000,459005868,1395316979
4,Avengers: Infinity War,149.0,300000000,678815482,2048359754

In [18]:
df_uf.columns

Index(['title', 'runtime_minutes', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [19]:
# count number of duplicate titles
print(df_uf['title'].duplicated().sum())

139

In [20]:
df_uf.shape

(4380, 5)

In [ ]:
# try fuzzy matching

from rapidfuzz import process, fuzz
from multiprocessing import Pool

def fuzzy_match(row, df_uf):
    # fuzzy matching for a single row against the titles in the second dataframe
    best_match = process.extractOne(row['title'], df_uf['title'], scorer=fuzz.ratio)
    return row['imdbid'], row['title'], best_match[0], best_match[1], best_match[2]  # imdbid, title, matched title, score, index


if __name__ == "__main__":
    # define number of processes
    num_processes = 8  # CPU has 8 cores

    # create partial function to pass the second df
    from functools import partial
    fuzzy_match_partial = partial(fuzzy_match, df_uf=df_uf)

    # use multiprocessing Pool
    with Pool(processes=num_processes) as pool:
        results = pool.map(fuzzy_match_partial, [row for index, row in df.iterrows()])

    # convert results to df
    results_df = pd.DataFrame(results, columns=['imdbid', 'original_title', 'matched_title', 'score', 'index'])

In [ ]:
df = merged_df

In [ ]:
df.shape

In [ ]:
df.duplicated(subset=['imdbid']).sum()

In [ ]:
df.columns

In [ ]:
# drop unnecessary columns

# list of columns to drop
columns_to_drop = ['runtime', 'rating', 'description', 'gross(in $)']

# drop columns
df = df.drop(columns=columns_to_drop)

In [ ]:
# update missing or wrong values
df.loc[df['imdbid'] == '13400336', 'year'] = 2023
df.loc[df['imdbid'] == '13400336', 'runtime_minutes'] = 133
df.loc[df['imdbid'] == '2531030', 'year'] = 1985
df.loc[df['imdbid'] == '2531030', 'director'] = 'Barry Levinson'
df.loc[df['imdbid'] == '4338664', 'year'] = 2001
df.loc[df['imdbid'] == '4338664', 'director'] = 'Barry Levinson'

In [ ]:
df[df['director'].isna()]

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.imdbid.isna().sum()

In [ ]:
# drop rows without imdbid
df = df.dropna(subset=['imdbid'])

In [ ]:
# convert imdbid to integer
df['imdbid'] = df['imdbid'].astype('int64')

In [ ]:
df.columns

In [ ]:
# drop rows where either 'runtime_minutes' or 'imdbid' is NaN
filtered_df = df.dropna(subset=['runtime_minutes', 'imdbid'])

# count the remaining rows
count = len(filtered_df)

print(f"Number of rows with values in both 'runtime_minutes' and 'imdbid': {count}")

In [ ]:
# output df to csv
output_file = 'data/movie_metadata_set_01.csv'
df.to_csv(output_file, index=False)